<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yde.sapiensdelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".controllers.delivery_man.DeliveryManProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.delivery_man.DeliveryRatingActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.CustomerRatingActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.delivery_man.DeliveryManActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.delivery_man.OrderStatusDeliveryManActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.delivery_man.ShoppingListDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.OrderCompletionActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.ShoppingListCreationActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.OrderStatusActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.EditShoppingListActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.CustomerProfileActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.customer.CustomerActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.delivery_man.ChooseCustomerActivity"
            android:exported="false" />
        <activity
            android:name=".controllers.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

</manifest>